<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>128332576490-4ebai1lsrq8vjisi34p55nnrld5c5bfc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.128332576490-4ebai1lsrq8vjisi34p55nnrld5c5bfc</string>
	<key>API_KEY</key>
	<string>AIzaSyC6OkD0vTJl3g1b_EX1p9EiwnQ-kkGZGwM</string>
	<key>GCM_SENDER_ID</key>
	<string>128332576490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wedfuly.chatapp</string>
	<key>PROJECT_ID</key>
	<string>wedfuly-dashboard</string>
	<key>STORAGE_BUCKET</key>
	<string>wedfuly-dashboard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:128332576490:ios:f8cb7c5e45c070b2</string>
	<key>DATABASE_URL</key>
	<string>https://wedfuly-dashboard.firebaseio.com</string>
</dict>
</plist>